.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background: url('../../assets/background.svg') center center no-repeat;
    background-size: cover;


    form {
        width: 28.6875rem;
        padding: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        background-color: #f3f3f3;
        border: none;
        border-radius: 1rem;
        box-shadow: 0px 1px 20px 10px rgb(211, 211, 211);

        .title {
            text-align: center;
            margin-bottom: 3rem;
        }

        .username {
            input {
                padding: .5rem;
                width: 100%;
                font-size: 1rem;
                margin: 0 auto;

                border-radius: .5rem;
                border: .0625rem solid gainsboro;
                background-color: #f3f3f3;
                box-shadow: inset -1px 4px 4px 0 rgb(229, 229, 229);
            }
        }

        .email {
            margin-block: 1rem;

            input {
                padding: .5rem;
                width: 100%;
                font-size: 1rem;
                margin: 0 auto;

                border-radius: .5rem;
                border: .0625rem solid gainsboro;
                background-color: #f3f3f3;
                box-shadow: inset -1px 4px 4px 0 rgb(229, 229, 229);
            }
        }
        
        .password {
            margin-bottom: 3rem;

            input {
                padding: .5rem;
                width: 100%;
                font-size: 1rem;
                margin: 0 auto;
                display: flex;

                border-radius: .5rem;
                border: .0625rem solid gainsboro;
                background-color: #f3f3f3;
                box-shadow: inset -1px 4px 4px 0 rgb(229, 229, 229);
            }
        }

        button {
            background-color: #FF7A00;
            color: #fff;
            border: none;
            border-radius: .5rem;

            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: .5rem;
            width: 70%;
            font-size: 1.3rem;
            font-weight: bold;

            &:hover {
                background-color: #FF4D00;
            }
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-block: 2rem;
        }

        a {
            text-align: center;
            font-size: 1.3rem;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #000;
        }
    }
}

