.register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    background: url('../../assets/background.svg') center center no-repeat;
    background-size: cover;

    div.decoration-top,
    div.decoration-bottom {
        height: 3rem;
        width: 100%;
        background-color: #ff4d00b8;
    }

    div.decoration-top {
        height: 1.8rem;
        box-shadow: 0 1px 15px 1px #aaaaaa;
    }

    div.decoration-bottom {
        height: 1.5rem;
        box-shadow: 1px 0 15px 1px #aaaaaa;
    }

    form {
        width: 28.6875rem;
        padding: 1.6rem 3rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        background-color: #f3f3f3;
        border: none;
        border-radius: 1rem;
        box-shadow: 0px 1px 20px 10px rgb(211, 211, 211);

        .title {
            font-size: 2.3rem;
            text-align: center;
            margin-bottom: 2.5rem;
        }

        .username {
            input {
                padding: .5rem;
                width: 100%;
                font-size: 1rem;
                margin: 0 auto;

                border-radius: .5rem;
                border: .0625rem solid gainsboro;
                background-color: #f3f3f3;
                box-shadow: inset -1px 4px 4px 0 rgb(229, 229, 229);
            }
        }

        .email {
            margin-block: 1rem;

            input {
                padding: .5rem;
                width: 100%;
                font-size: 1rem;
                margin: 0 auto;

                border-radius: .5rem;
                border: .0625rem solid gainsboro;
                background-color: #f3f3f3;
                box-shadow: inset -1px 4px 4px 0 rgb(229, 229, 229);
            }
        }

        .password {
            margin-bottom: 3rem;

            input {
                padding: .5rem;
                width: 100%;
                font-size: 1rem;
                margin: 0 auto;
                display: flex;

                border-radius: .5rem;
                border: .0625rem solid gainsboro;
                background-color: #f3f3f3;
                box-shadow: inset -1px 4px 4px 0 rgb(229, 229, 229);
            }
        }

        button {
            background-color: #ff4d00b8;
            color: #fff;
            border: none;
            border-radius: .5rem;

            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: .5rem;
            width: 75%;
            font-size: 1.3rem;
            font-weight: bold;

            &:hover {
                background-color: #ff4d00d6;
            }
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 2rem 3rem;
        }

        p {
            font-size: 1.2rem;
        }

        a {
            text-align: center;
            font-size: 1.3rem;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #000;
            margin-bottom: 0.8rem;
        }
    }
}