main.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;

    padding: 5rem 10rem;

    background: url('../../assets/background.svg') center center no-repeat;
    background-size: cover;

    div.books-container {
        position: relative;
        max-width: 1580px;

        h2 {
            display: flex;
            align-items: center;
            gap: 0.5rem;
    
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
    
            img {
                height: 1.8rem;
            }
        }

        img#left,
        img#right {
            height: 2.5rem;
            width: 2.5rem;
            position: absolute;
            opacity: 0.8;

            top: 50%;
            transform: translateY(-50%);
            border: 2px solid #FF7A00;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }

        img#left {
            padding: 0.25rem 0.4rem 0.25rem 0.2rem;
            left: -3.5rem;
        }

        img#right {
            padding: 0.25rem 0.2rem 0.25rem 0.4rem;
            right: -3.5rem;
        }
    }

    div.books {
        display: flex;
        gap: 2rem;

        height: fit-content;
        padding: 0.5rem 0.2rem;
        margin: 0 auto;
        overflow-x: hidden;
    }
}