div.summary {
    width: 15rem;
    
    ul {
        list-style: none;
        box-shadow: 1px 10px 20px #e6e6e6;
        border-radius: 0 0 .5rem .5rem;
        padding: 0;
        
        .summary-list {
            border-radius: .5rem .5rem 0 0;
            background-color: #FF4D00;
            color: #fff;
            padding: .5rem;
        }

        .summary-subtotal {
            margin-block: 1rem;
            display: flex;
            justify-content: space-between;
            padding-inline: .5rem;
        }

        .summary-frete {
            display: flex;
            justify-content: space-between;
            padding-inline: .5rem;
            padding-bottom: 1rem;
            border-bottom: .0625rem solid gray;
        }

        .summary-total {
            display: flex;
            justify-content: space-between;
            padding: .5rem;
        }
    }

    .confirm {
        margin-top: 1rem;
        width: 100%;
        padding: .5rem;
        font-size: 1.5rem;

        border: none;
        background-color: #FF4D00;
        color: #fff;
        border-radius: .5rem;
    }
}