* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
}